.news {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.news__item {
}

.news__image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 4px;
}

@media (width >= 920px) {
  .news__image {
    height: 160px;
  }
}

.news__title {
  font-size: 1em;
  margin: 0 0 4px;
}

.news__description {
  font-size: 0.8em;
  margin: 0 0 6px;

  color: var(--color-text-secondary, #595959);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news__showMoreContainer {
  text-align: center;
  margin: 20px 0 40px;
}

@media (width >= 920px) {
  .news__showMoreContainer {
    margin: 18px 0 40px;
  }
}

.news__showMore {
  border-radius: 8px;
  display: inline-block;
  padding: 9px 18px;
}

.news__item--hidden {
  display: none;
}
