.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 12px;
}

@media (width >= 920px) {
  .slider {
    height: 500px;
    max-width: 792px;
    margin-bottom: 0px;
  }
}

.slider__item {
  position: relative;
}
.slider__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}

@media (width >= 540px) {
  .slider__image {
    height: 360px;
  }
}

@media (width >= 920px) {
  .slider__image {
    height: 500px;
  }
}

.slider__title {
  margin: 0;
  position: absolute;
  bottom: 26%;
  left: 5%;
  width: 90%;
  font-size: 1em;
  letter-spacing: 0.035em;
  color: var(--color-text-invert, #ffffff);
}

@media (width >= 540px) {
  .slider__title {
    margin: 10px 0;
    bottom: 20%;
    font-size: 1.4em;
  }
}

@media (width >= 920px) {
  .slider__title {
    margin: 10px 0;
    bottom: 20%;
    left: 5%;
    width: 90%;
    font-size: 2em;
  }
}

.slider__links {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  margin-top: 4px;
}

@media (width >= 920px) {
  .slider__links {
    margin-top: 0px;
    position: absolute;
    bottom: 44px;
    left: 5%;
    width: 90%;
  }
}

.slider__link {
  padding: 11px 12px;
  color: var(--color-text-invert, #ffffff);
  background-color: var(--color-bg-invert, #191919);
}

.slider__link img {
  filter: invert(1);
}

@media (width >= 920px) {
  .slider__link {
    color: var(--color-text, #222222);
    background-color: var(--color-bg-secondary, #fcfcfc);
  }
  .slider__link img {
    filter: none;
  }
}

/* Navigation buttons */
/*
.slider__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}
.slider__button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 2em;
  color: #fff;
  transition: color 0.3s ease;
}
.slider__button:hover {
  color: #6366f1;
}
.slider__button--prev {
  margin-right: auto;
}
.slider__button--next {
  margin-left: auto;
}
*/
